grpcio
grpcio-tools
protobuf
cloudevents
opencensus
opencensus-ext-grpc
dapr
Flask
pre-commit
pydocstyle
black
bandit
flake8
pylint
mypy
mypy-protobuf
types-protobuf
grpc-stubs
pytest
pytest-asyncio
pytest-cov
pytest-ordering
wheel
paho-mqtt
pip-tools
pipreqs
coverage2clover
coveragepy-lcov
