# /********************************************************************************
# * Copyright (c) 2021 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Eclipse Public License 2.0 which is available at
# * http://www.eclipse.org/legal/epl-2.0
# *
# * SPDX-License-Identifier: EPL-2.0
# ********************************************************************************/

grpcio>=1.26.0
grpcio-tools>=1.26.0
protobuf==3.19.1
cloudevents >= 1.0.0
opencensus == 0.8.0
opencensus-ext-grpc == 0.7.2
dapr >= 1.4.0
Flask==2.0.2
pre-commit >= 2.16.0
pydocstyle >= 6.1.1
semgrep >= 0.77.0
black
mypy >= 0.910
mypy-protobuf >= 3.0.0
types-protobuf >= 0.1.14
grpc-stubs >= 1.24.7
